body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5952 {
  position:absolute;
  left:300px;
  top:100px;
  width:1440px;
  height:955px;
}
#u5953 {
  position:absolute;
  left:2px;
  top:470px;
  width:1436px;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5954 {
  position:absolute;
  left:300px;
  top:100px;
  width:256px;
  height:955px;
}
#u5955 {
  position:absolute;
  left:2px;
  top:470px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5958 {
  position:absolute;
  left:300px;
  top:100px;
  width:256px;
  height:65px;
}
#u5959 {
  position:absolute;
  left:2px;
  top:24px;
  width:252px;
  word-wrap:break-word;
}
#u5960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:54px;
}
#u5960 {
  position:absolute;
  left:333px;
  top:106px;
  width:141px;
  height:54px;
}
#u5961 {
  position:absolute;
  left:2px;
  top:19px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u5964 {
  position:absolute;
  left:300px;
  top:159px;
  width:256px;
  height:61px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u5965 {
  position:absolute;
  left:50px;
  top:24px;
  width:204px;
  word-wrap:break-word;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5966 {
  position:absolute;
  left:324px;
  top:187px;
  width:14px;
  height:13px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5968 {
  position:absolute;
  left:526px;
  top:187px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5969 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
  line-height:22px;
}
#u5970 {
  position:absolute;
  left:300px;
  top:214px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:left;
  line-height:22px;
}
#u5971 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5973 {
  position:absolute;
  left:297px;
  top:337px;
  width:256px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5974 {
  position:absolute;
  left:50px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5975 {
  position:absolute;
  left:523px;
  top:356px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5976 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5977 {
  position:absolute;
  left:321px;
  top:354px;
  width:14px;
  height:14px;
}
#u5978 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
  line-height:22px;
}
#u5979 {
  position:absolute;
  left:300px;
  top:254px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
  line-height:22px;
}
#u5980 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u5981 {
  position:absolute;
  left:300px;
  top:297px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u5982 {
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5984 {
  position:absolute;
  left:297px;
  top:397px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5985 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5986 {
  position:absolute;
  left:523px;
  top:416px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5987 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u5988 {
  position:absolute;
  left:321px;
  top:418px;
  width:14px;
  height:12px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5991 {
  position:absolute;
  left:300px;
  top:448px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5992 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5993 {
  position:absolute;
  left:526px;
  top:467px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5994 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5995 {
  position:absolute;
  left:323px;
  top:467px;
  width:17px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:413;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u5996 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5998 {
  position:absolute;
  left:300px;
  top:502px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5999 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6000 {
  position:absolute;
  left:526px;
  top:522px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6001 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6002 {
  position:absolute;
  left:324px;
  top:522px;
  width:14px;
  height:14px;
}
#u6003 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6005 {
  position:absolute;
  left:300px;
  top:556px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6006 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6007 {
  position:absolute;
  left:526px;
  top:576px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6008 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6009 {
  position:absolute;
  left:321px;
  top:575px;
  width:17px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:413;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6012 {
  position:absolute;
  left:300px;
  top:664px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6013 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6014 {
  position:absolute;
  left:526px;
  top:684px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6015 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6016 {
  position:absolute;
  left:324px;
  top:683px;
  width:17px;
  height:17px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6019 {
  position:absolute;
  left:300px;
  top:716px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6020 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6021 {
  position:absolute;
  left:526px;
  top:736px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6022 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6023 {
  position:absolute;
  left:324px;
  top:735px;
  width:17px;
  height:17px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6026 {
  position:absolute;
  left:300px;
  top:609px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6027 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6028 {
  position:absolute;
  left:526px;
  top:629px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6029 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6030 {
  position:absolute;
  left:323px;
  top:628px;
  width:17px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:413;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6033 {
  position:absolute;
  left:300px;
  top:770px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6034 {
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6035 {
  position:absolute;
  left:526px;
  top:790px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6036 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6037 {
  position:absolute;
  left:321px;
  top:789px;
  width:17px;
  height:17px;
  font-family:'anticon Regular', 'anticon';
  font-weight:413;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6038 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  position:absolute;
  left:556px;
  top:100px;
  width:1184px;
  height:65px;
}
#u6041 {
  position:absolute;
  left:2px;
  top:24px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u6042 {
  position:absolute;
  left:584px;
  top:125px;
  width:20px;
  height:15px;
}
#u6043 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6045 {
  position:absolute;
  left:1617px;
  top:121px;
  width:24px;
  height:24px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6047 {
  position:absolute;
  left:1649px;
  top:122px;
  width:62px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:709px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6050 {
  position:absolute;
  left:566px;
  top:189px;
  width:1149px;
  height:709px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6051 {
  position:absolute;
  left:16px;
  top:16px;
  width:1117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052 {
  position:absolute;
  left:566px;
  top:191px;
  width:32px;
  height:28px;
  overflow:hidden;
}
#u6052_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6052_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6053 {
  position:absolute;
  left:566px;
  top:870px;
  width:32px;
  height:28px;
  overflow:hidden;
}
#u6053_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6053_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6054 {
  position:absolute;
  left:1683px;
  top:870px;
  width:32px;
  height:28px;
  overflow:hidden;
}
#u6054_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6054_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6055 {
  position:absolute;
  left:1683px;
  top:191px;
  width:32px;
  height:28px;
  overflow:hidden;
}
#u6055_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6055_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6056 {
  position:absolute;
  left:579px;
  top:187px;
  width:281px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6056_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u6056.mouseOver {
}
#u6057 {
  position:absolute;
  left:32px;
  top:16px;
  width:249px;
  white-space:nowrap;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6061 {
  position:absolute;
  left:988px;
  top:359px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6062 {
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  word-wrap:break-word;
}
#u6063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6064 {
  position:absolute;
  left:986px;
  top:512px;
  width:78px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6065 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6067 {
  position:absolute;
  left:1200px;
  top:574px;
  width:29px;
  height:18px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6069 {
  position:absolute;
  left:1182px;
  top:575px;
  width:16px;
  height:17px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108DE9;
}
#u6070 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6072 {
  position:absolute;
  left:1209px;
  top:478px;
  width:29px;
  height:18px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6073 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6074 {
  position:absolute;
  left:1191px;
  top:479px;
  width:16px;
  height:17px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108DE9;
}
#u6075 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6077 {
  position:absolute;
  left:1015px;
  top:395px;
  width:98px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6078 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6079 {
  position:absolute;
  left:1075px;
  top:395px;
  width:200px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6081 {
  position:absolute;
  left:988px;
  top:417px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6082 {
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  word-wrap:break-word;
}
#u6083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6084 {
  position:absolute;
  left:1015px;
  top:357px;
  width:47px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6085 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u6086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6086 {
  position:absolute;
  left:1074px;
  top:357px;
  width:200px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6087 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6088 {
  position:absolute;
  left:990px;
  top:379px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6089 {
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  word-wrap:break-word;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6091 {
  position:absolute;
  left:960px;
  top:443px;
  width:103px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6092 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6093 {
  position:absolute;
  left:1069px;
  top:443px;
  width:200px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6094 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6095 {
  position:absolute;
  left:985px;
  top:465px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6096 {
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  word-wrap:break-word;
}
#u6097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6098 {
  position:absolute;
  left:955px;
  top:478px;
  width:108px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6099 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u6100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6100 {
  position:absolute;
  left:1072px;
  top:478px;
  width:200px;
  height:22px;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6101 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6102 {
  position:absolute;
  left:988px;
  top:500px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6103 {
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  word-wrap:break-word;
}
#u6104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
}
#u6105 {
  position:absolute;
  left:1075px;
  top:514px;
  width:83px;
  height:78px;
}
#u6106 {
  position:absolute;
  left:2px;
  top:31px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u6107 {
  position:absolute;
  left:1094px;
  top:530px;
  width:46px;
  height:47px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u6108 {
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6112 {
  position:absolute;
  left:1321px;
  top:606px;
  width:29px;
  height:18px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6114 {
  position:absolute;
  left:1303px;
  top:607px;
  width:16px;
  height:17px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108DE9;
}
#u6115 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6117 {
  position:absolute;
  left:994px;
  top:606px;
  width:62px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6118 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6119 {
  position:absolute;
  left:1076px;
  top:606px;
  width:217px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u6121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6121 {
  position:absolute;
  left:994px;
  top:628px;
  width:354px;
  height:16px;
  opacity:0;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6122 {
  position:absolute;
  left:2px;
  top:-1px;
  width:350px;
  word-wrap:break-word;
}
#u6123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6125 {
  position:absolute;
  left:1232px;
  top:650px;
  width:29px;
  height:18px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  line-height:18px;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u6127 {
  position:absolute;
  left:1214px;
  top:651px;
  width:16px;
  height:17px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108DE9;
}
#u6128 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6129 {
  position:absolute;
  left:988px;
  top:646px;
  width:71px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u6130 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6131 {
  position:absolute;
  left:1077px;
  top:646px;
  width:217px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6132 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u6133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6133 {
  position:absolute;
  left:1210px;
  top:815px;
  width:65px;
  height:32px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6134 {
  position:absolute;
  left:16px;
  top:5px;
  width:33px;
  white-space:nowrap;
}
#u6135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6136 {
  position:absolute;
  left:630px;
  top:263px;
  width:1051px;
  height:46px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6137 {
  position:absolute;
  left:36px;
  top:18px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u6139 {
  position:absolute;
  left:630px;
  top:263px;
  width:117px;
  height:46px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u6140 {
  position:absolute;
  left:16px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
#u6141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6141 {
  position:absolute;
  left:708px;
  top:263px;
  width:165px;
  height:46px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6142 {
  position:absolute;
  left:48px;
  top:12px;
  width:85px;
  white-space:nowrap;
}
